html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  background-attachment: fixed;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  opacity: 1;
  z-index: 1;
  
}
.login-box img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 112px;
 
}

.login-box h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: 0 transparent;
}

.login-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.header {
  background: #141e30;
  position: relative;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header img {
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header img {
    height: 50px;
    padding-left: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: whitesmoke;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: .3s;
  text-decoration: none;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #394152;
  top: 0;
  left: -100%;
  transition: .3s;
}
.header .main-nav > li > a:hover {
  color: whit;
  background-color: #232f45;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: #141e30;
  border-bottom: 3px solid slategray;
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top .3s, opacity .3s;
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}


.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
  
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid slategray;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid slategray;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #232f45;
  z-index: -1;
  transition: .3s;
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: whitesmoke;
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}


.landing-container {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
  flex-direction: column;
  transition: .3s ease-in ;
  transform: scale(.9);
}

.landing-container h1 {
  color: white;
}

.landing-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.landing-container th, td {
  border: 1px solid #ddd;
  padding: 10px;
  color: #eee;
}

.number-placeholder {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  .landing-container table {
      font-size: 14px;
  }

  .number-placeholder {
      width: 20px; 
      height: 20px; 
      line-height: 20px; 
  }
  .landing-container h1 {
      font-size: 25px;
  }
}
.main-page {
  opacity: 0;
  z-index: -1;
}


.landing-container table {
  background-color: #34495E;
  border-radius: 24px;
    border-color: transparent;
}

/* Style for table headers */
.landing-container th {
  color: #dd5;
  border: 1px solid #34495E; /* تعيين سمك ولون الحواف لخلايا الجدول */
  padding: 8px; /* تعيين التباعد داخل الخلية */
  border-radius: 8px; /* Apply border radius */
  
}
table {
  border: 2px solid #34495E; /* تعيين سمك ولون الحواف */
  border-collapse: collapse; /* دمج الحواف لتظهر كحافة واحدة */
}

th, td {
  border: 1px solid #34495E; /* تعيين سمك ولون الحواف لخلايا الجدول */
  padding: 8px; /* تعيين التباعد داخل الخلية */border-radius: 8px; /* Apply border radius */
}

